.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Large devices*/
@media (min-width: 992px) {
    .col-lg-4{
        flex-basis: 33.3%;
    }
    .col-lg-6{
        flex-basis: 50%;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-6{
        flex-basis: 50%;
    }
    .col-md-12{
        flex-basis: 100%;
    }
}
/* Small devices */
@media (max-width: 768px) {
    .col-sm-12{
        flex-basis: 100%;
    }
}

 
    ul.first > li:nth-child(odd){
        background-color: gray;
    }
    ul.first > li:nth-child(odd)  li:nth-child(odd){
        background-color: white;
    }
    ul.first > li:nth-child(even){
        background-color: white;
    }
    ul.first > li:nth-child(even) li:nth-child(odd){
        background-color: gray;
    }
    ol.second > li:nth-child(4){
        background-color:rgb(21, 255, 0);
    }
    ol.second > li:nth-child(3):hover, ol.second > li:nth-child(5):hover{
        cursor: pointer;
    }
 
    h1.cent{
      text-align:center;
        font-size:22px;
    }

    a.ital{
        font-style:italic;
    }

    h2.cent{
        text-align:center;
    }

 

