.row {
    width: 100%;
    
}

.block {
    background-color: aqua;
    
    border: 2px solid black;
}

.anm1, .anm2, .anm3 {
    border: 1px solid black;
    float: right;
    display:block;
    
}

.laug {
    text-align: center;
    font-size: 30px;
    margin: bottom 20px;
}


.container {
    display: flex;
}
.block {
    padding: 10px;
}

.anm1 {
    background-color: red;
}

.anm2 {
    background-color: rgb(60, 255, 0);
}

.anm3 {
    background-color: rgb(140, 0, 255);
}

p {
    font-family: 'Roboto', sans-serif;
}
