@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald&family=Roboto:wght@500&display=swap');

/*
font-family: 'Nova Square', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/