@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald&family=Roboto:wght@500&display=swap');

/*
font-family: 'Nova Square', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/










body {
    font-family: 'Nova Square', sans-serif;
    background-color: rgb(81, 202, 25);
    color: #333333;
    margin: 0;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.block {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

#block1 {
    background-color: #f0ff99; 
}

#block2 {
    background-color: #1c67b3; 
}

#block3 {
    background-color: #ccffe6;
}

#block4 {
    background-color: #f73333; 
}

h4 {
    background-color: #f72c2c;
    color: black;
    padding: 10px;
    border-radius: 6px;
    width: fit-content;
    display: inline-block;
}

.image-link {
    text-align: center;
    margin-top: 20px;
}

table td,th{
    border: solid black 2px;
    text-align: center;
    padding: 2px;
}




 @media (max-width: 768px) {
        .block {
            width: 100%;
        }
    }

@media (min-width: 769px) and (max-width: 992px) {
    #block1, #block2 {
        width: 48%;
        display: inline-block;
        margin-right: 2%;
    }

    #block3, #block4 {
        width: 48%;
        display: inline-block;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #block1, #block2, #block3 {
        width: 30%;
        display: inline-block;
        margin-right: 2%;
    }

    #block4 {
        width: calc(100% - 30% - 2%);
        display: inline-block;
    }
}

@media (min-width: 1201px) {
    .block {
        width: 23%;
        display: inline-block;
        margin-right: 2%;
    }
}


/* small devices */ /*
@media (max-width: 768px) {
    .col-sm-1 {
        flex-basis: 8.33%;
    }

    .col-sm-2 {
        flex-basis: 16.66%;
    }

    .col-sm-3 {
        flex-basis: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.33%;
    }

    .col-sm-5 {
        flex-basis: 41.66%;
    }

    .col-sm-6 {
        flex-basis: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.33%;
    }

    .col-sm-8 {
        flex-basis: 66.66%;
    }

    .col-sm-9 {
        flex-basis: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.33%;
    }

    .col-sm-11 {
        flex-basis: 91.66%;
    }

    .col-sm-12 {
        flex-basis: 100%;
    }
}

/* medium devices */ /*
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 {
        flex-basis: 8.33%;
    }

    .col-md-2 {
        flex-basis: 16.66%;
    }

    .col-md-3 {
        flex-basis: 25%;
    }

    .col-md-4 {
        flex-basis: 33.33%;
    }

    .col-md-5 {
        flex-basis: 41.66%;
    }

    .col-md-6 {
        flex-basis: 50%;
    }

    .col-md-7 {
        flex-basis: 58.33%;
    }

    .col-md-8 {
        flex-basis: 66.66%;
    }

    .col-md-9 {
        flex-basis: 75%;
    }

    .col-md-10 {
        flex-basis: 83.33%;
    }

    .col-md-11 {
        flex-basis: 91.66%;
    }

    .col-md-12 {
        flex-basis: 100%;
    }
}

/* large devices */ /*
@media (min-width: 992px) {
    .col-lg-1 {
        flex-basis: 8.33%;
    }

    .col-lg-2 {
        flex-basis: 16.66%;
    }

    .col-lg-3 {
        flex-basis: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.33%;
    }

    .col-lg-5 {
        flex-basis: 41.66%;
    }

    .col-lg-6 {
        flex-basis: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.33%;
    }

    .col-lg-8 {
        flex-basis: 66.66%;
    }

    .col-lg-9 {
        flex-basis: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.33%;
    }

    .col-lg-11 {
        flex-basis: 91.66%;
    }

    .col-lg-12 {
        flex-basis: 100%;
    }
}
