@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald&family=Roboto:wght@500&display=swap');

/*
font-family: 'Nova Square', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: 'Nova Square', sans-serif;
    margin: 0;
    padding: 20px;
    background-color:white;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.block {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

#block1 {
    background-color: #f0ff99;
    font-family: 'Roboto', sans-serif; 
}

#block2 {
    background-color: #1c67b3;
    font-family: 'Roboto', sans-serif; 
}

#block3 {
    background-color: #ccffe6;
    font-family: 'Roboto', sans-serif;
}

#block4 {
    background-color: #f73333;
    font-family: 'Roboto', sans-serif; 
}

h4 {
    background-color: #2cf747;
    color: black;
    padding: 10px;
    border-radius: 6px;
    width: fit-content;
    display: flex;
}

.image-link {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

table td,tr{
    border: solid black 2px;
    padding: 2px;

}




 @media (max-width: 768px) {
        .block {
            width: 100%;
        }
    }

@media (min-width: 769px) and (max-width: 992px) {
    #block1, #block2 {
        width: 50%;
        display: flex;
        margin-right: 2%;
    }

    #block3, #block4 {
        width: 50%;
        
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #block1, #block2, #block3 {
        width: 33.33%;
        display: flex;
        margin-right: 2%;
    }

    #block4 {
        width: calc(100% - 30% - 2%);
        
    }
}

@media (min-width: 1201px) {
    .block {
        width: 25%;
        display: inline-block;
        margin-right: 2%;
    }
}


