/* Large devices */
@media (min-width: 992px) {
    .bag-t th{
     font-size: 1.3em;
    }
    .bag-nott td{
        font-size: 1.2em;
    }
   }
 
   /* Medium devices */
  @media (min-width: 768px) and (max-width: 992px) {
   .md-t th{
   font-size: 1.2em;
   }
   .md-nott td{
    font-size: 1.1em;
   }
 }
 
    /* small devices */
   @media (max-width: 768px)  {
     .sm-t th{
     font-size: 1.1em;
     }
   }










tbody tr:nth-child(odd) td{
    background-color:gray;
}
table{
    border-collapse: collapse;
}
table td,th{
    border: solid black 2px;
    text-align: center;
    padding: 2px;
}

h1{
    text-align:center;
    font-size:22px;
}

a.ital{
    font-style:italic;
}

h2{
    text-align:center;
}

th{
    text-align:center;
    background-color:green;
    color:aliceblue;
    font-weight:bold;
}
th:nth-child(5),td:nth-child(5){
    text-align:end;
}