.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

 /* Large devices */
 @media (min-width: 992px) {
   .col-lg-3 {
    flex-basis: 25%;
   }
  }

  /* Medium devices */
 @media (min-width: 768px) and (max-width: 992px) {
  .col-md-6 {
  flex-basis: 50%;
  }
}

   /* small devices */
  @media (max-width: 768px)  {
    .col-sm-12 {
    flex-basis: 100%;
    }
  }

    .flex-item{
      text-align: center;
      margin-bottom: 10px;
    }







   #a1:link   {
   color:rgb(208, 255, 0);
  }
  #a1:visited {
  color: #03d6e6;
  }
  
  #a2:link {
   color:black;
  }
  #a2 :visited {
 color:rgb(212, 63, 4);
  }
  #a3:link{
   color:blue;
  }
 #a3:visited{
   color:rgb(159, 92, 221);
 }
 
 #a4:link{
   color:rgb(233, 7, 7);
 }
 #a4:visited{
   color:rgb(0, 255, 0);
 }
 
 h1.size{
  text-align:center;
  font-size:24px;
 }
 p.size2{
   font-size:19.2px;
 }